# DS-SF-36 | 03 | `pandas` | Assignment | Starter Code

## `pandas` and Bistro

You've just told one of your friend that you are taking a Data Science class.  (Yeah!)  Your friend is running a bistro, a small restaurant, serving moderately priced simple meals in a modest setting ([Wikipedia](https://en.wikipedia.org/wiki/Bistro)).  She collected over some period of time the following information of her patrons' visits.

| Variable's name | Its meaning |
|:---:|:---|
| `name` | Patron's first name |
| `gender` | Patron's gender |
| `is_smoker` | Whether the patron is smoking or not |
| `party` | Party's size |
| `check` | Check amount (\$) (after taxes but before tips) |
| `tip` | Tip (\$) that the patron added to the check |
| `day` | Week day of the visit |
| `time` | Rough time estimate of the visit |

In this assignment, we will be exploring this dataset using `pandas`.<sup>(*)</sup>

<sup>(*)</sup> this dataset was adapted from the `tips` dataset of the `seaborn` package (https://github.com/mwaskom/seaborn-data)

> ### Question 1.  Import `pandas` (as `pd`).

In [2]:
import os

import numpy as np
import pandas as pd

# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ### Question 2.  Read the `dataset-03-bistro.csv` dataset.

In [36]:
# TODO
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-bistro.csv'))

> ### Question 3.  What is the class of the `pandas` object storing the dataset?

In [4]:
# TODO
type(df)

pandas.core.frame.DataFrame

Answer: TODO

> ### Question 4.  How many samples (i.e., rows) are in this dataset?

In [9]:
# TODO
df.shape[0]

244

Answer: TODO

> ### Question 5.  How many variables (i.e., columns) are in this dataset?

In [10]:
# TODO
df.shape[1]

8

Answer: TODO

> ### Question 6.  Print the name of each column in the dataset, one name per line.

In [12]:
# TODO
df.columns

Index(['day', 'time', 'name', 'gender', 'is_smoker', 'party', 'check', 'tip'], dtype='object')

> ### Question 7.  Print the first two rows of the dataset to the console.  What does the output look like?

In [15]:
# TODO
df[:2]

      day    time      name  gender is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female     False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male     False      3  10.34  1.66

Answer: TODO

> ### Question 8.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [16]:
# TODO
df[-2:]

          day    time    name  gender is_smoker  party  check   tip
242  Saturday  Dinner     Jon    Male     False      2  17.82  1.75
243  Thursday  Dinner  Brandi  Female     False      2  18.78  3.00

Answer: TODO

> ### Question 9.  Does the dataset contain any missing values?

In [22]:
# TODO
df.isnull().sum().sum()

0

Answer: TODO

> ### Question 10.  What can you say about the `is_smoker` variable?  I.e., will it bring any insights when analyzing the dataset?  What do you want to do with it?  (and do it...)

In [38]:
# TODO
set(df.is_smoker)
df.drop('is_smoker', axis = 1, inplace = True)
df.head

<bound method NDFrame.head of           day    time      name  gender  party  check   tip
0      Sunday  Dinner  Kimberly  Female      2  16.99  1.01
1      Sunday  Dinner  Nicholas    Male      3  10.34  1.66
2      Sunday  Dinner     Larry    Male      3  21.01  3.50
3      Sunday  Dinner    Joseph    Male      2  23.68  3.31
4      Sunday  Dinner    Janice  Female      4  24.59  3.61
..        ...     ...       ...     ...    ...    ...   ...
239  Saturday  Dinner     Kevin    Male      3  29.03  5.92
240  Saturday  Dinner    Sandra  Female      2  27.18  2.00
241  Saturday  Dinner      Carl    Male      2  22.67  2.00
242  Saturday  Dinner       Jon    Male      2  17.82  1.75
243  Thursday  Dinner    Brandi  Female      2  18.78  3.00

[244 rows x 7 columns]>

Answer: TODO

> ### Question 11.  For which week days does the dataset has data for?

In [39]:
# TODO
set(df.day)

{'Friday', 'Saturday', 'Sunday', 'Thursday'}

Answer: TODO

> ### Question 12.  How often was the bistro patronized for each week day?

(check `.value_counts()`; it could come in handy)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [40]:
# TODO
df.day.value_counts()

Saturday    87
Sunday      76
Thursday    62
Friday      19
Name: day, dtype: int64

Answer: TODO

> ### Question 13.  How much tip did waiters collect for each week day?

In [42]:
# TODO
df[ ['day', 'tip'] ].groupby('day').sum()

             tip
day
Friday     51.96
Saturday  260.40
Sunday    247.39
Thursday  171.83

Answer: TODO

> ### Question 14.  What is the average tip per check (in absolute \$) for each week day?

In [43]:
# TODO
df[ ['day', 'tip'] ].groupby('day').mean()

               tip
day
Friday    2.734737
Saturday  2.993103
Sunday    3.255132
Thursday  2.771452

Answer: TODO

> ### Question 15.  What is the average tip per check (as a percentage of the check) for each week day?

In [50]:
# TODO
df.columns
df['percentage'] = df['tip'] / df['check']  
df[['day','percentage']].groupby('day').mean()

          percentage
day
Friday      0.169913
Saturday    0.153152
Sunday      0.166897
Thursday    0.161276

Answer: TODO

> ### Question 16.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [81]:
# TODO
male_names = df[df['gender']=='Male'].name
female_names = df[df['gender']=='Female'].name

np.intersect1d(male_names,female_names)

array(['Casey'], dtype=object)

Answer: TODO

> ### Question 17.  If no patrons share the same name, how many unique patrons are in the dataset?

In [82]:
# TODO
len(set(df.name))

181

Answer: TODO

> ### Question 18.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [85]:
# TODO
sum(df.name == 'Kevin')

4

Answer: TODO

> ### Question 19.  Who are the top 3 female and male patrons?

In [97]:
# Top 3 male
df[df.gender == "Male"]['name'].value_counts()[0:3]

David    8
James    5
Casey    5
Name: name, dtype: int64

In [96]:
# Top 3 female
df[df.gender == "Female"]['name'].value_counts()[0:3]

Mary     4
Laura    3
Casey    3
Name: name, dtype: int64

Answer: TODO

> ### Question 20.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html)

In [130]:
# TODO
#sorted_df = df.sort_values('percentage')
sorted_df = df[['name','percentage']].groupby('name').mean().sort_values('percentage')
sorted_df.percentage

name
Jeremy      0.035638
Mildred     0.056433
Destiny     0.056797
Kimberly    0.059447
Willie      0.066534
              ...
Zackary     0.266312
Dennis      0.280535
Bailey      0.325733
Maryann     0.416667
Daniel      0.430215
Name: percentage, dtype: float64

Answer: TODO