# DS-SF-36 | 04 | Databases and Scrapping | Assignment | Starter Code

## `SQLite` and Bistro

In this assignment, we will be exploring the `bistro` dataset.  The previous assignment used `pandas`.  Today, we'll answer the same questions but using `SQLite`.  In some situations, `pandas` will be a better solution.  In others, doing it using `SQL` will make more sense.  As you gain more experience, you'll know which one to use.

> ### Question 1.  Import the `sqlite3` package.

In [5]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)
import sqlite3
# TODO

> ### Question 2.  Connect to the `dataset-04-bistro.db` database.  The rest of this assignment focus on the `bistro` table.

In [7]:
db = sqlite3.connect(os.path.join('..', 'datasets', 'dataset-04-bistro.db'))
bistro = pd.io.sql.read_sql(
'''
SELECT *                  ---* means everything    
    FROM bistro       --- from a table, properties is a table 
    
;
''', con = db)          # con means the connection

> ### Question 3.  How many samples (i.e., rows) are in this dataset?

In [17]:
bistro.shape[0]

244

Answer: TODO

> ### Question 4.  Print the first two rows of the table to the console.

In [18]:
bistro.head(2)

   index     day    time      name  gender  is_smoker  party  check   tip
0      0  Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01
1      1  Sunday  Dinner  Nicholas    Male          0      3  10.34  1.66

> ### Question 5.  For which week days does the dataset has data for?

In [25]:
set(bistro.day)

{'Friday', 'Saturday', 'Sunday', 'Thursday'}

Answer: TODO

> ### Question 6.  How often was the bistro patronized for each week day?

In [39]:
bistro.groupby('day').count()

          index  time  name  gender  is_smoker  party  check  tip
day
Friday       19    19    19      19         19     19     19   19
Saturday     87    87    87      87         87     87     87   87
Sunday       76    76    76      76         76     76     76   76
Thursday     62    62    62      62         62     62     62   62

Answer: TODO

> ### Question 7.  How much tip did waiters collect for each week day?

In [ ]:
bistro.

Answer: TODO

> ### Question 8.  What is the average tip per check (in absolute \$) for each week day?

In [ ]:
# TODO

Answer: TODO

> ### Question 9.  What is the average tip per check (as a percentage of the check) for each week day?

(`CHECK` is a reserved keywork; use `` `check` `` (put the name between backticks) to reference the `check` column)

In [ ]:
# TODO

Answer: TODO

> ### Question 10.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

In [ ]:
# TODO

Answer: TODO

> ### Question 11.  If no patrons share the same name, how many unique patrons are in the dataset?

In [ ]:
# TODO

Answer: TODO

> ### Question 12.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [ ]:
# TODO

Answer: TODO

> ### Question 13.  Who are the top 3 female and male patrons?

In [ ]:
# TODO

Answer: TODO

> ### Question 14.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

In [ ]:
# TODO

Answer: TODO